.my-login{
  background-color: #FFF;
    .login-header {
      position: relative;
      width: 980px;
      height: auto;
      margin: 0 auto 30px;
      padding-top: 40px;
      .logo {
        background: url(//s0.meituan.net/bs/file/?f=fe-sso-fs:build/assets/logo.6a89007.png) no-repeat;
        background-position: 0 !important;
        background-size: contain !important;
        width: 130px;
        height: 47px;
        display: block;
      }
    }
    .login-container {
      margin: 0 auto 70px;
      width: 980px;
      display: flex;
      .login-img{
        margin-right: 115px;
      }
      .login-panel {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        width: 270px;
        .tips {
          margin-bottom: 10px;
          padding: 10px;
          border: 1px solid #f5d8a7;
          border-radius: 2px;
          background: #fff6db;
          font-size: 12px;
          padding-left: 26px;
          color: #626262;
          }
        }
        .choose-login{
          font-size: 14px;
          color: #626262;
          margin-bottom: 0;
          cursor: pointer;
          .login-phone{
            font-size: 12px;
            float: right;
          }
        }
        em {
          font-style: normal;
          float: right;
        }
        .register {
          margin-top: 5px;
          margin-bottom: 0;
          font-size: 14px;
          color: #222;
          a {
            text-decoration: none;
            color: #FE8C00;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .login-oauth {
            color: #222;
            .oauth-title {
              position: relative;
              margin-bottom: 30px;
              border-bottom: 1px solid #CCC;
              width: 100%;
              height: 0;
              overflow: visible;
              .title {
                position: absolute;
                top: -10px;
                left: 50%;
                margin-left: -75px;
                width: 150px;
                text-align: center;
                font-size: 14px;
                font-weight: 400;
                color: #666;
                background: #FFF;
              }
            }
            .oauth-friends {
              padding-left: 88px;
            }
            .oauth_link_qq {
              float: left;
              margin-right: 20px;
              width: 18px;
              height: 18px;
              background-position: -1250px -491px;
              background-image: url(//s0.meituan.net/bs/file/?f=fe-sso-fs:build/assets/sp-normal.2ee5c09.png);
            }
            .oauth_link_weibo {
              width: 18px;
              height: 18px;
              background-position: -1250px -599px;
              background-image: url(//s0.meituan.net/bs/file/?f=fe-sso-fs:build/assets/sp-normal.2ee5c09.png)
            }
           
        }

      }

      .el-input {
        margin-top: 10px;
      }

      .forget {
        margin-top: 10px;
        font-size: 12px;
        a {
          float: right;
          text-decoration: none;
          color:#FE8C00;
        }

      }
      .error {
        input {
          border-color: red;
        }
      }
      .el-input__icon {
        &.profile {
          &:after {
            font-family: iconfont;
            content: "\e627";
            font-style: normal;
            top: -1px;
            left: 5px;
            position: absolute;
          }
        }

        &.password {
          &:after {
            font-family: iconfont;
            content: "\E600";
            font-style: normal;
            top: -1px;
            left: 3px;
            position: absolute;
            font-size: 18px;
          }
        }
      }

      .login-button {
        color: #222;
        background-image: linear-gradient(135deg,#FFD000 0,#FFBD00 100%);
        border: none;
        padding: 12px 15px;
      }
    }
    .login-footer {
      width: 980px;
      margin: 0 auto 30px;
      text-align: left;
      ul {
        border-top: 1px solid #EEE;
        border-bottom: 1px solid #EEE;
        padding: 12px 0;
        color: #ddd;
        list-style: none;
        li {
          display: inline-block;
          font-size: 12px;
          text-align: center;
          &:not(:last-child) {
            border-right: 1px solid #eee;
          }
          a {
            font-size: 13px;
            color: #999;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
            padding-right: 10px;
            &:not(.first) {
              padding-left: 10px;
            }
          }
          
        }
      }
      >p {
        margin: 10px 0;
        font-size: 13px;
        color: #999;
      }
    }
